@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --Roboto: "Roboto", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.4;
  color: #fff;
}
img {
  width: 100%;
  display: block;
}
.container {
  max-width: 1329px;
  margin: 0 auto;
  padding: 1.2rem;
  box-sizing: border-box;
}

/* Start header styling */
header {
  height: 100vh;
}
nav {
  padding: 1rem;
  border-top: 4px solid #ff7500;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 32px;
  height: 59px;
  display: inline-block;
  margin: 0 10px;
}
span {
  color: #000;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  font-family: var(--Roboto);
}
span:last-of-type {
  color: #ff7500;
}
.navbar-nav {
  display: flex;
  align-items: center;
}
.navbar-nav a {
  text-decoration: none;
  color: #000;
  margin: 0 20px;
  transition: all 0.5s ease;
}
.navbar-nav a:hover {
  border-bottom: 3px solid #ff7500;
}
.navbar-nav ul {
  display: flex;
  font-family: var(--Roboto);
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  list-style: none;
  text-transform: uppercase;
}
.btn {
  font-family: var(--Roboto);
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  padding: 12px 24px;
  background: #ff7500;
  color: #fff;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.5px;
  transition: opacity 0.5s ease;
}
.btn:hover {
  opacity: 0.7;
}

/* Start banner styling */
.banner {
  padding: 1.2rem;
  background-color: #252420;
}
.banner-box {
  display: flex;
  align-items: center;
}
.title {
  padding: 0 1.2rem;
}
.line {
  width: 80px;
  height: 3px;
  background: #ff7500;
  border: none;
  margin-bottom: 40px;
}
.title h1 {
  font-family: var(--Roboto);
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.5px;
  width: 70%;
  margin: 40px 0;
}
.title p {
  font-family: var(--Roboto);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.5px;
  width: 65%;
  margin: 40px 0;
}
.img img {
  width: 510px;
  height: 510px;
  transform: translateY(80px);
  border-radius: 8px;
  box-shadow: 20px 20px rgba(255, 117, 0, 60%);
}

/* Start reason styling */
.hero {
  width: 100%;
  padding: 1.2rem;
}
.reasons {
  margin: 100px auto;
}
.reasons .title h1 {
  font-family: var(--Roboto);
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.5px;
  width: 50%;
  color: #000;
}
.boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  width: 100%;
}
.box {
  width: 33.3%;
  padding: 1.2rem;
  border-radius: 8px;
  transition: all 0.375s ease;
}
.box:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.box img {
  width: 100px;
  height: 100px;
}
.box h3 {
  font-family: var(--Roboto);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #000;
  margin: 20px 0;
}
.box p {
  font-family: var(--Roboto);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #000;
  width: 80%;
}
.box2 {
  margin: 0 30px;
}

/* Start  sale styling */
.sale {
  padding: 10rem 1.2rem;
  width: 100%;
}
.sale-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #252420;
  border-radius: 12px;
  padding: 3rem;
  position: relative;
}
.sale-title {
  width: 50%;
}
.sale-title h1 {
  font-family: var(--Roboto);
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.5px;
  color: #fff;
  width: 75%;
}
.sale-title p {
  font-family: var(--Roboto);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 30px 0;
  width: 75%;
}
.sale-title span{
  font-family: var(--Roboto);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ff7500;
}
.sale-img img{
  position: absolute;
  width: 40%;
  right: 60px;
  bottom: 40px;
}

/* Start  footer styling */
footer{
  padding: 1.2rem;
  width: 100%;
  background: #f8f8f8;
}
.footer-box{
  padding: 1.2rem 0;
}
.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-top-logo{
  display: flex;
  align-items: center;
}
.footer-top-logo img{
  margin-right: 10px;
}
.footer-top .icon{
  width: 24px;
  display: inline-block;
  margin: 0 5px;
  padding: 4px;
  transition: all .5s ease;
  border-radius: 50%;
}
.footer-top .icon:hover{
  border: 2px solid #ff7500;
}
.footer-line{
  width: 100%;
  background: #252420;
  height: 2px;
  border: none;
  margin-top: 50px;
}
.footer-bottom{
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0;
  width: 90%;
  margin-top: 50px;
}
.list-box ul{
  font-family: var(--Roboto);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #252420;
  list-style: none;
}
.list-box ul li{
  padding: 10px 0;
}


