@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --Roboto: "Roboto", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.4;
  color: #fff;
}
img {
  width: 100%;
  display: block;
}
.container {
  max-width: 1329px;
  margin: 0 auto;
  padding: 1.2rem;
  box-sizing: border-box;
}
/* Start header styling */
header {
  height: 100vh;
}
nav {
  padding: 1rem;
  border-top: 4px solid #ff7500;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 32px;
  height: 59px;
  display: inline-block;
  margin: 0 10px;
}
span {
  color: #000;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  font-family: var(--Roboto);
}
span:last-of-type {
  color: #ff7500;
}
.navbar-nav {
  display: flex;
  align-items: center;
}
.navbar-nav a {
  text-decoration: none;
  color: #000;
  margin: 0 20px;
  transition: all 0.5s ease;
}
.navbar-nav a:hover {
  border-bottom: 3px solid #ff7500;
}
.navbar-nav ul {
  display: flex;
  font-family: var(--Roboto);
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  list-style: none;
  text-transform: uppercase;
}
.btn {
  font-family: var(--Roboto);
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  padding: 12px 24px;
  background: #ff7500;
  color: #fff;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.5px;
  transition: opacity 0.5s ease;
  margin: 0 10px;
}
.btn:hover {
  opacity: 0.7;
}
